In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("train.csv")
train.head()

     3.8481  10.1539  -3.8561   -4.2228  0
0  4.004700  0.45937  1.36210  1.618100  0
1 -0.048008 -1.60370  8.47560  0.755580  0
2 -1.266700  2.81830 -2.42600 -1.886200  1
3  2.203400  5.99470  0.53009  0.849980  0
4  5.735300  5.28080 -2.25980  0.075416  0

In [3]:
class Perceptron:
    def __init__(self):
        self.weights = []
        self.curr_weight = [0,0,0,0]
    
    def predict(self, x_test):
        y_pred = []
        for x in x_test.values: #predicting for each and every example in the test dataset
            if np.dot(self.curr_weight.transpose(), x) <= 0:
                pred = -1 #negative class
            else:
                pred = 1  #positive class
            y_pred.append(pred)
        return np.array(y_pred)
    
    def fit(self, t, x_train, y, r, w):
        for i in range(t):
            for x_sample, y_sample in zip(x_train.values, y):
                if y_sample * np.dot(w.transpose(), x_sample) <= 0: #error in classification
                    w = w + r*y_sample*x_sample  #updating the weights
                self.weights.append(w)
                self.curr_weight = w
            
    def calc_error(self, y_pred, y_test):
        cnt = 0
        for pred, true in zip(y_pred, y_test):
            if pred != true:
                cnt = cnt+1
        print("Number of misclassifications : ", cnt)
        return cnt/len(y_pred)

In [4]:
x_train = train.iloc[:,:4]
x_train.head()

     3.8481  10.1539  -3.8561   -4.2228
0  4.004700  0.45937  1.36210  1.618100
1 -0.048008 -1.60370  8.47560  0.755580
2 -1.266700  2.81830 -2.42600 -1.886200
3  2.203400  5.99470  0.53009  0.849980
4  5.735300  5.28080 -2.25980  0.075416

In [5]:
print(x_train.shape[1])

4

In [6]:
y_train = train.iloc[:,4]
y_train = y_train.replace(0, -1)
y_train.head()

0   -1
1   -1
2    1
3   -1
4   -1
Name: 0, dtype: int64

In [7]:
weights = [0]*x_train.shape[1]
#print(weights)
p_mod = Perceptron()
p_mod.fit(10, x_train, y_train, 0.1, np.array(weights).T)

In [8]:
#print(p_mod.weights)

In [9]:
test = pd.read_csv("test.csv")
test.head()

    3.8384   6.1851  -2.0439  -0.033204  0
0  2.85210   9.1710 -3.64610    -1.2047  0
1  5.24180  10.5388 -4.11740    -4.2797  0
2 -2.26230  12.1177  0.28846    -7.7581  0
3  0.55298  -3.4619  1.70480     1.1008  1
4  4.15420   7.2756 -2.47660    -1.2099  0

In [10]:
x_test = test.iloc[:,:4]
x_test.head()

    3.8384   6.1851  -2.0439  -0.033204
0  2.85210   9.1710 -3.64610    -1.2047
1  5.24180  10.5388 -4.11740    -4.2797
2 -2.26230  12.1177  0.28846    -7.7581
3  0.55298  -3.4619  1.70480     1.1008
4  4.15420   7.2756 -2.47660    -1.2099

In [11]:
y_test = test.iloc[:,4]
y_test = y_test.replace(0, -1)
y_test.head()

0   -1
1   -1
2   -1
3    1
4   -1
Name: 0, dtype: int64

In [12]:
y_predictions = p_mod.predict(x_test)

In [13]:
test_error = p_mod.calc_error(y_predictions, y_test)
print("Average test error : ", test_error)

Number of misclassifications :  25
Average test error :  0.050100200400801605

In [153]:
print("Learned weights : ", p_mod.curr_weight)

[-3.9938745  -3.171363   -3.0313244  -1.78966698]