In [13]:
import pandas as pd
import numpy as np

In [14]:
train = pd.read_csv("train.csv")
train.head()

     3.8481  10.1539  -3.8561   -4.2228  0
0  4.004700  0.45937  1.36210  1.618100  0
1 -0.048008 -1.60370  8.47560  0.755580  0
2 -1.266700  2.81830 -2.42600 -1.886200  1
3  2.203400  5.99470  0.53009  0.849980  0
4  5.735300  5.28080 -2.25980  0.075416  0

In [15]:
x_train = train.iloc[:,:4]
x_train.head()

     3.8481  10.1539  -3.8561   -4.2228
0  4.004700  0.45937  1.36210  1.618100
1 -0.048008 -1.60370  8.47560  0.755580
2 -1.266700  2.81830 -2.42600 -1.886200
3  2.203400  5.99470  0.53009  0.849980
4  5.735300  5.28080 -2.25980  0.075416

In [16]:
y_train = train.iloc[:,4]
y_train = y_train.replace(0, -1)
y_train.head()

0   -1
1   -1
2    1
3   -1
4   -1
Name: 0, dtype: int64

In [17]:
test = pd.read_csv("test.csv")
test.head()

    3.8384   6.1851  -2.0439  -0.033204  0
0  2.85210   9.1710 -3.64610    -1.2047  0
1  5.24180  10.5388 -4.11740    -4.2797  0
2 -2.26230  12.1177  0.28846    -7.7581  0
3  0.55298  -3.4619  1.70480     1.1008  1
4  4.15420   7.2756 -2.47660    -1.2099  0

In [18]:
x_test = test.iloc[:,:4]
x_test.head()

    3.8384   6.1851  -2.0439  -0.033204
0  2.85210   9.1710 -3.64610    -1.2047
1  5.24180  10.5388 -4.11740    -4.2797
2 -2.26230  12.1177  0.28846    -7.7581
3  0.55298  -3.4619  1.70480     1.1008
4  4.15420   7.2756 -2.47660    -1.2099

In [19]:
y_test = test.iloc[:,4]
y_test = y_test.replace(0, -1)
y_test.head()

0   -1
1   -1
2   -1
3    1
4   -1
Name: 0, dtype: int64

In [62]:
class Voted_Perceptron:
    def __init__(self):
        self.weights = []
        self.curr_weight = [0,0,0,0]
        self.cnt = []
        self.m = 0  
        self.weight_count = []
    
    def predict(self, x_test):
        y_pred = []
        for x in x_test.values:
            pred = 0
            for cnt in self.cnt:
                pred = pred + cnt * np.sign(np.dot(self.curr_weight, x))
                
            y_pred.append(np.sign(1 if pred>=0 else -1))
            
        return np.array(y_pred)
    
    def fit(self, t, x_train, y, r, w):
        m = 0
        cnt = [0]
        
        for i in range(t):
            c_m = 0
            for x_sample, y_sample in zip(x_train.values, y):
                
                if y_sample * np.dot(w, x_sample) <= 0:                    
                    w = w + r*y_sample*x_sample
                    c_m = 1
                    cnt.append(1)
                    m = m+1
                else:
                    cnt[m] = cnt[m] + 1
                    c_m = c_m + 1
                    
            self.weight_count.append((w,c_m))        
            self.weights.append(w)
            self.curr_weight = w
            self.cnt = cnt
            self.m = m
            
    def calc_error(self, y_pred, y_test):
        cnt = 0
        for pred, true in zip(y_pred, y_test):
            if pred != true:
                cnt = cnt+1
        print("test misclassification : ", cnt)
        return cnt/len(y_pred)

In [63]:
weights = [0]*x_train.shape[1]
print(weights)
vp_mod = Voted_Perceptron()
vp_mod.fit(10, x_train, y_train, 0.1, np.array(weights))

[0, 0, 0, 0]

In [64]:
print(vp_mod.curr_weight)

[-3.9938745  -3.171363   -3.0313244  -1.78966698]

In [65]:
y_predictions = vp_mod.predict(x_test)

In [66]:
#print(y_predictions)

In [67]:
print("correct train classifications : ", vp_mod.m)
test_error = vp_mod.calc_error(y_predictions, y_test)
print("average test error : ", test_error)

correct train classifications :  589
test misclassification :  25
average test error :  0.050100200400801605

In [69]:
print("weight vectors and their count : ",vp_mod.weight_count)

weight vectors and their count :  [(array([-2.62246915, -1.68691   , -2.1422088 , -1.02005896]), 4), (array([-3.1118683 , -2.173015  , -2.5984448 , -1.48765196]), 4), (array([-3.44723345, -2.80957   , -2.8164988 , -1.29090552]), 4), (array([-3.6005896 , -2.488866  , -3.1089098 , -1.74811772]), 4), (array([-3.70948375, -2.635211  , -3.2146516 , -1.85498892]), 4), (array([-3.9992079 , -3.339441  , -2.8546224 , -1.57237602]), 4), (array([-3.96713405, -2.664077  , -3.2860074 , -2.00876422]), 4), (array([-4.0016782 , -3.071346  , -2.8956874 , -1.85886068]), 32), (array([-4.00197835, -3.17381   , -3.1249734 , -1.76012888]), 32), (array([-3.9938745 , -3.171363  , -3.0313244 , -1.78966698]), 32)]