In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv("train.csv")
train.head()

     3.8481  10.1539  -3.8561   -4.2228  0
0  4.004700  0.45937  1.36210  1.618100  0
1 -0.048008 -1.60370  8.47560  0.755580  0
2 -1.266700  2.81830 -2.42600 -1.886200  1
3  2.203400  5.99470  0.53009  0.849980  0
4  5.735300  5.28080 -2.25980  0.075416  0

In [4]:
x_train = train.iloc[:,:4]
x_train.head()

     3.8481  10.1539  -3.8561   -4.2228
0  4.004700  0.45937  1.36210  1.618100
1 -0.048008 -1.60370  8.47560  0.755580
2 -1.266700  2.81830 -2.42600 -1.886200
3  2.203400  5.99470  0.53009  0.849980
4  5.735300  5.28080 -2.25980  0.075416

In [5]:
y_train = train.iloc[:,4]
y_train = y_train.replace(0, -1)
y_train.head()

0   -1
1   -1
2    1
3   -1
4   -1
Name: 0, dtype: int64

In [6]:
test = pd.read_csv("test.csv")
test.head()

    3.8384   6.1851  -2.0439  -0.033204  0
0  2.85210   9.1710 -3.64610    -1.2047  0
1  5.24180  10.5388 -4.11740    -4.2797  0
2 -2.26230  12.1177  0.28846    -7.7581  0
3  0.55298  -3.4619  1.70480     1.1008  1
4  4.15420   7.2756 -2.47660    -1.2099  0

In [7]:
x_test = test.iloc[:,:4]

In [8]:
y_test = test.iloc[:,4]
y_test = y_test.replace(0, -1)
y_test.head()

0   -1
1   -1
2   -1
3    1
4   -1
Name: 0, dtype: int64