In [2]:
import pandas as pd
import numpy as np

In [3]:
train_df = pd.read_csv(r"concrete/train.csv", names = ["Cement", "Slag", "Fly_ash", "Water", "SP",
                                                       "Coarse_Aggr", "Fine_Aggr", "Output"])

In [4]:
#train_df.head()

,Cement,Slag,Fly_ash,Water,SP,Coarse_Aggr,Fine_Aggr,Output
0,-0.890447,-1.295950,1.188030,-1.450430,1.238500,1.876070,-0.818684,-0.005574
1,0.549165,0.066917,-0.517804,0.638098,0.164716,0.227616,-0.945600,0.568593
2,0.941555,-1.292630,1.068030,1.950890,-0.085833,-1.180960,-0.385584,0.798260
3,-0.966886,1.047520,0.376289,1.831540,0.880569,-0.988829,-0.898007,0.568593
4,0.638344,0.233121,-0.364867,0.488917,0.164716,-0.011126,-0.961465,0.855677

In [12]:
#train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Cement       53 non-null     float64
 1   Slag         53 non-null     float64
 2   Fly_ash      53 non-null     float64
 3   Water        53 non-null     float64
 4   SP           53 non-null     float64
 5   Coarse_Aggr  53 non-null     float64
 6   Fine_Aggr    53 non-null     float64
 7   Output       53 non-null     float64
dtypes: float64(8)
memory usage: 3.4 KB

In [5]:
test_df = pd.read_csv(r"concrete/test.csv", names = ["Cement", "Slag", "Fly_ash", "Water", "SP",
                                                       "Coarse_Aggr", "Fine_Aggr", "Output"])

In [6]:
x_train = train_df.iloc[:,:7]
#x_train.head()

     Cement      Slag   Fly_ash     Water        SP  Coarse_Aggr  Fine_Aggr
0 -0.890447 -1.295950  1.188030 -1.450430  1.238500     1.876070  -0.818684
1  0.549165  0.066917 -0.517804  0.638098  0.164716     0.227616  -0.945600
2  0.941555 -1.292630  1.068030  1.950890 -0.085833    -1.180960  -0.385584
3 -0.966886  1.047520  0.376289  1.831540  0.880569    -0.988829  -0.898007
4  0.638344  0.233121 -0.364867  0.488917  0.164716    -0.011126  -0.961465

In [7]:
y_train = train_df["Output"]
#y_train.head()

0   -0.005574
1    0.568593
2    0.798260
3    0.568593
4    0.855677
Name: Output, dtype: float64

In [13]:
#coverting the dataframe into an ndarray
X = x_train.to_numpy()
Y = y_train.to_numpy()

In [26]:
#X^T.X
A = np.dot(X.transpose(),X)

In [27]:
#X^T.Y
B = np.dot(X.transpose(), Y)

In [28]:
#(X^T.X)^-1
A_inverse = np.linalg.inv(A)

In [29]:
#((X^T.X)^-1).(X^T.Y)
opt_w = np.dot(A_inverse, B)

In [30]:
print("The optial weight vector is : ", opt_w)

[0.92154947 0.80829428 0.87397433 1.3142877  0.13392374 1.59904727
 1.02029192]